<html>
<head>
       {% block extrahead %}{% endblock %}
</head>
<body>
<div id="pageContainer">
        <div id="nav_top_right">
                {% if user.is_authenticated %}<p><a href="/logout/">Logout</a></p>{% else %}<p><a href="/login/">Login</a></p>{% endif %}
        </div>
        {% block content %}
        {% endblock %}
</div>
</body>
</html>
