<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}style.css">
        <meta charset="utf-8">
        <title>
            {% block title %}{% endblock %}
        </title>
        </head>
    <body>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
