<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

	Design by Free CSS Templates
	http://www.freecsstemplates.org
	Released for free under a Creative Commons Attribution License

	Name       : Coffeelike
	Version    : 1.0
	Released   : 20130222

-->
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
	{% block extrahead %}{% endblock %}
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Open Course</title>
        <link href="http://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css" />
        <link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}style.css">
    </head>
    <body background = "{{STATIC_URL}}images/bg.jpg">
	{% load staticfiles %}

		<div id="bg">
			<div id="outer">
				<div id="header">
					<div id="logo">
						<h1>
							<a href="/">Coursezilla</a>
						</h1>
					</div>
					<div id="nav">
						<ul>
							<li class="first active">
								<a href="/">Home</a>
							</li>
							<li>
								<a href="/mooc/courses/listcourses">Courses</a>
							</li>
							<li>
								<a href="/mooc/category">Category</a>
							</li>
							<li>
								<a href="/mooc/courses">Add Course</a>
							</li>
							<li>
								<a href="#">Add Anouncement</a>
							</li>
							<li>
						   {% if user.is_authenticated %}<a href="/logout/">Logout</a>{% else %}<a href="/login/">Login</a>{% endif %}
							</li>
						</ul>
						<br class="clear" />
					</div>
				</div>
				<div id="main">
					<div id="sidebar">
						<h3>
							<a href="/">Home</a>
						</h3>
						<h3>
							<a href="/mooc/courses/listcourses">Courses</a>
						</h3>
						<h3>
							<a href="/mooc/category">Category</a>
						</h3>
						<h3>
							<a href="/mooc/courses">Add Course</a>
						</h3>
						<h3>
							<a href="/mooc/announcements">Add Anouncement</a>
						</h3>
						<h3>
							<a href="/mooc/announcements/listannouncements">List Anouncement</a>
						</h3>
						<h3>
						{% if user.is_authenticated %}<p><a href="/logout/">Logout</a></p>{% else %}<p><a href="/login/">Login</a></p>{% endif %}
						</h3>
						
					</div>
					<div id="content">
						<div id="box1">
							
							 {% block content %}
            						 {% endblock %}							
						</div>
						
						
						<br class="clear" />
					</div>
					<br class="clear" />
				</div>
			</div>
			<div id="copyright">
				&copy; Coursezilla | Design by <a href="http://www.freecsstemplates.org/" rel="nofollow">FCT</a>
			</div>
		</div>
    </body>
</html>
