{% extends 'index.html' %}
{# old extends 'base.html' #}
 
{% block title %} Announcement {% endblock %}

{% block content %}
<style type="text/css">
body{
font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
}
p, h1, form, button{border:0; margin:0; padding:0;}
.spacer{clear:both; height:1px;}
/* ----------- My Form ----------- */
.myform{
margin:0 auto;
width:400px;
padding:14px;
}

/* ----------- stylized ----------- */
#stylized{
border:solid 2px #b7ddf2;
background:#ebf4fb;
}
#stylized h1 {
font-size:14px;
font-weight:bold;
margin-bottom:8px;
}
#stylized p{
font-size:11px;
color:#666666;
margin-bottom:20px;
border-bottom:solid 1px #b7ddf2;
padding-bottom:10px;
}
#stylized label{
display:block;
font-weight:bold;
text-align:right;
width:140px;
float:left;
}
#stylized .small{
color:#666666;
display:block;
font-size:11px;
font-weight:normal;
text-align:right;
width:140px;
}
#stylized input{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:150px;
margin:2px 0 20px 10px;
}
#stylized button{
clear:both;
margin-left:150px;
width:125px;
height:31px;
background:#666666 url(img/button.png) no-repeat;
text-align:center;
line-height:31px;
color:#FFFFFF;
font-size:11px;
font-weight:bold;
}

</style>

<div id="stylized" class="myform">
<form id="form" name="form" method="post" action="/mooc/announcements/addannouncement">{% csrf_token %}

<h1>Add Announcement Form</h1>
<label> {{ user }} is logged in </label>
<label>Course:
<span class="small">Eg. CMPE 275</span>
</label>
<select name="courseId" id="courseId">
{% for data in response %}
  <option value={{ data.id }}>{{ data.title }}</option>
{% endfor%}
</select> 

<label>Title:
<span class="small">Eg. Final Exam Schedule</span>
</label>
<input type="text" name="title" id="title" />

<label>Description:
<span class="small">Eg: Course Matter</span>
</label>
<input type="text" name="description" id="description" />

<label>Post Date:
<span class="small">Eg: 2013-05-13</span>
</label>
<input type="text" name="postDate" id="postDate" />

<button type="submit">Add</button>
<div class="spacer"></div>


</form>
</div>
{% endblock %}
