{% extends 'index.html' %}
{# old extends 'base.html' #}
 
{% block title %} Announcement {% endblock %}

{% block content %}
<script type="text/javascript">
function deleteAnnouncement(announcementId)
{
	console.log(announcementId);
	var input = document.createElement("input");
	input.setAttribute("type", "hidden");
	input.setAttribute("name", "announcementId");
	input.setAttribute("id","announcementId");
	input.setAttribute("value", announcementId);
	document.getElementById("announcements").appendChild(input);
	console.log(document.getElementById("announcementId").value);
	document.getElementById("announcements").action = "/mooc/announcements/delete";
	document.getElementById("announcements").submit();
}
</script>
<style type="text/css">
body{
font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
}
p, h1, form, button{border:0; margin:0; padding:0;}
.spacer{clear:both; height:1px;}
/* ----------- My Form ----------- */
.myform{
margin:0 auto;
width:400px;
padding:14px;
}
/* ----------- stylized ----------- */
#stylized{
border:solid 2px #b7ddf2;
background:#ebf4fb;
}
#stylized h1 {
font-size:14px;
font-weight:bold;
margin-bottom:8px;
}
#stylized p{
font-size:11px;
color:#666666;
margin-bottom:20px;
border-bottom:solid 1px #b7ddf2;
padding-bottom:10px;
}
#stylized label{
display:block;
font-weight:bold;
text-align:right;
width:140px;
float:left;
}
#stylized .small{
color:#666666;
display:block;
font-size:11px;
font-weight:normal;
text-align:right;
width:140px;
}
#stylized input{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:200px;
margin:2px 0 20px 10px;
}
#stylized button{
clear:both;
margin-left:150px;
width:125px;
height:31px;
/*background:#666666 url(img/button.png) no-repeat;*/
text-align:center;
line-height:31px;
color:#FFFFFF;
font-size:11px;
font-weight:bold;
}
</style>

<div id="stylized" class="myform">
<form id="announcements" method="POST" action="/mooc/announcements/listannouncements">{% csrf_token %}
</form>
<h1>Announcements</h1>
<table>
<tr>
<td>Title</td>
<td>Description</td>
<td>Delete Announcement</td>
</tr>
{% for x in response %}
<tr>
<td>{{x.title}}</td>
<td>{{x.description}}</td>
<td><input type="submit" id="{{x.id}}" onclick="var aId=this.id; return deleteAnnouncement(aId)" value="Delete" name="{{x.id}}" class="Enroll" style="width:80px"/></td>
</tr>
{% endfor %}
</table>

</div>
{% endblock %}
