<!DOCTYPE html>
<html>
<script type="text/javascript">
function enableall()
{
    if(document.getElementById('title').disabled){
        document.getElementById('title').disabled = false;
        document.getElementById('description').disabled = false;
        document.getElementById('postDate').disabled = false;
    }else{
        document.getElementById('viewform').submit();
    }
    return false;
}
</script>
<style type="text/css">
body{
font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
}
p, h1, form, button{border:0; margin:0; padding:0;}
.spacer{clear:both; height:1px;}
/* ----------- My Form ----------- */
.myform{
margin:0 auto;
width:400px;
padding:14px;
}
/* ----------- stylized ----------- */
#stylized{
border:solid 2px #b7ddf2;
background:#ebf4fb;
}
#stylized h1 {
font-size:14px;
font-weight:bold;
margin-bottom:8px;
}
#stylized p{
font-size:11px;
color:#666666;
margin-bottom:20px;
border-bottom:solid 1px #b7ddf2;
padding-bottom:10px;
}
#stylized label{
display:block;
font-weight:bold;
text-align:right;
width:140px;
float:left;
}
#stylized .small{
color:#666666;
display:block;
font-size:11px;
font-weight:normal;
text-align:right;
width:140px;
}
#stylized input{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:200px;
margin:2px 0 20px 10px;
}
#stylized button{
clear:both;
margin-left:150px;
width:125px;
height:31px;
/*background:#666666 url(img/button.png) no-repeat;*/
text-align:center;
line-height:31px;
color:#FFFFFF;
font-size:11px;
font-weight:bold;
}
</style>
<body>
<div id="stylized" class="myform">
<form id="viewform" method="POST" action="/mooc/announcements/update">
<label>Title: 
<span class="small">Eg. CMPE 275 Final Exam</span> 
</label> 
<input type="text" name="title" id="title" value="{{response.title}}" disabled /> 

<label>Description: 
<span class="small">Eg: Announcement Description</span> 
</label> 
<input type="text" name="description" id="description" value="{{response.description}}" disabled/> 
  
<label>Post Date: 
<span class="small">Eg: 2013-05-13</span> 
</label> 
<input type="text" name="postDate" id="postDate" value="{{response.postDate}}" disabled /> 
  
<input type="hidden" name="announcementId" value="{{response.id}}"></input> 
<input type="button" value="Update" onclick="enableall(); return false;"></input> 
<div class="spacer"></div> 
 
 
</form>

</div>
</body>
</html>
