{% extends 'index.html' %}
{# old extends 'base.html' #}
 
{% block title %} Add Course {% endblock %}

{% block content %}
<style type="text/css">
body{
font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
}
p, h1, form, button{border:0; margin:0; padding:0;}
.spacer{clear:both; height:1px;}
/* ----------- My Form ----------- */
.myform{
margin:0 auto;
width:400px;
padding:14px;
}

/* ----------- stylized ----------- */
#stylized{
border:solid 2px #b7ddf2;
background:#ebf4fb;
}
#stylized h1 {
font-size:14px;
font-weight:bold;
margin-bottom:8px;
}
#stylized p{
font-size:11px;
color:#666666;
margin-bottom:20px;
border-bottom:solid 1px #b7ddf2;
padding-bottom:10px;
}
#stylized label{
display:block;
font-weight:bold;
text-align:right;
width:140px;
float:left;
}
#stylized .small{
color:#666666;
display:block;
font-size:11px;
font-weight:normal;
text-align:right;
width:140px;
}
#stylized input{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:150px;
margin:2px 0 20px 10px;
}
#stylized button{
clear:both;
margin-left:150px;
width:125px;
height:31px;
background:#666666 url(img/button.png) no-repeat;
text-align:center;
line-height:31px;
color:#FFFFFF;
font-size:11px;
font-weight:bold;
}

</style>

<div id="stylized" class="myform">
<form id="form" name="form" method="post" action="/mooc/courses/addcourse">{% csrf_token %}

<h1>Add Course Form</h1>
<label> {{ user }} is logged in </label>
<label>Category:
<span class="small">Eg. SCI101</span>
</label>
<select name="catid" id="catid">
{% for data in response %}
  <option value={{ data.id }}>{{ data.name }}</option>
{% endfor%}
</select> 
<!--<input type="text" name="catid" id="catid" />-->

<label>Title:
<span class="small">Eg. Intro to Mechanics</span>
</label>
<input type="text" name="coursetitle" id="coursetitle" />

<label>Section:
<span class="small">Eg: Sec01</span>
</label>
<input type="text" name="coursesec" id="coursesec" />

<label>Department:
<span class="small">Eg: COE</span>
</label>
<input type="text" name="coursedept" id="coursedept" />

<label>Term:
<span class="small">Eg: Spring</span>
</label>
<input type="text" name="courseterm" id="courseterm" />

<label>Year:
<span class="small">Eg: 2013</span>
</label>
<input type="text" name="year" id="year" />

<label>Instructor Name:
<span class="small">Eg: Ally McAllister</span>
</label>
<input type="text" name="instrname" id="instrname" />


<label>Instructor Email:
<span class="small">Eg: instructor@xxxx.com</span>
</label>
<input type="text" name="instremail" id="instremail" />

<label>Days:
<span class="small">Eg: M,W,Th</span>
</label>
<input type="checkbox" name="monday" value="monday" />

<label><font style="color: #ebf4fb">Tuesday</font>
<span class="small"><font style="color: #ebf4fb">Eg: M,W,TH</font></span>
</label>
<input type="checkbox" name="tuesday" value="tuesday" />

<label><font style="color: #ebf4fb">Wednesday</font>
<span class="small"><font style="color: #ebf4fb">Eg: M,W,Th</font></span>
</label>
<input type="checkbox" name="wednesday" value="wednesday" />

<label><font style="color: #ebf4fb">Thursday</font>
<span class="small"><font style="color: #ebf4fb">Eg: M,W,TH</font></span>
</label>
<input type="checkbox" name="thursday" value="thursday" />


<label><font style="color: #ebf4fb">Friday</font>
<span class="small"><font style="color: #ebf4fb">Eg: M,W,TH</font></span>
</label>
<input type="checkbox" name="friday" value="friday" />


<label>Hours:
<span class="small">Eg: 8:00am</span>
</label>
<input type="text" name="hours" id="hours" />

<label>Description:
<span class="small">Eg: Course Matter</span>
</label>
<input type="text" name="coursedesc" id="coursedesc" />

<label>Attachment:
<span class="small">Eg: /home/coursefolder</span>
</label>
<input type="text" name="coursepath" id="coursepath" />

<label>Version:
<span class="small">Eg: 1.0.1</span>
</label>
<input type="text" name="coursever" id="coursever" />


<button type="submit">Add</button>
<div class="spacer"></div>


</form>
</div>
{% endblock %}
