{% extends 'index.html' %}
{# old extends 'base.html' #}
 
{% block title %} Add Course success {% endblock %}

{% block content %}
<script type="text/javascript">
function onEnroll(courseid)
{
console.log(courseid);
var input = document.createElement("input");
input.setAttribute("type", "hidden");
input.setAttribute("name", "hiddenenroll");
input.setAttribute("id","txt1");
input.setAttribute("value", courseid);
document.getElementById("enrollform").appendChild(input);
console.log(document.getElementById("txt1").value)
document.getElementById("enrollform").setAttribute("action","/mooc/courses/enrolled");
document.getElementById("enrollform").submit();
}
function onDrop(courseid)
{
console.log(courseid);
var input = document.createElement("input");
input.setAttribute("type", "hidden");
input.setAttribute("name", "hiddendrop");
input.setAttribute("id","txt3");
input.setAttribute("value", courseid);
document.getElementById("enrollform").appendChild(input);
console.log(document.getElementById("txt3").value)
document.getElementById("enrollform").setAttribute("action","/mooc/courses/drop");
document.getElementById("enrollform").submit();
}
function onView(courseid)
{
console.log(courseid);
var input = document.createElement("input");
input.setAttribute("type", "hidden");
input.setAttribute("name", "hiddenview");
input.setAttribute("id","txt2");
input.setAttribute("value", courseid);
document.getElementById("enrollform").appendChild(input);
console.log(document.getElementById("txt2").value)
document.getElementById("enrollform").setAttribute("action","/mooc/courses/viewcourse");
document.getElementById("enrollform").submit();
}
</script>
<style type="text/css">
body{
font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
}
p, h1, form, button{border:0; margin:0; padding:0;}
.spacer{clear:both; height:1px;}
/* ----------- My Form ----------- */
.myform{
margin:0 auto;
width:400px;
padding:14px;
}
/* ----------- stylized ----------- */
#stylized{
border:solid 2px #b7ddf2;
background:#ebf4fb;
}
#stylized h1 {
font-size:14px;
font-weight:bold;
margin-bottom:8px;
}
#stylized p{
font-size:11px;
color:#666666;
margin-bottom:20px;
border-bottom:solid 1px #b7ddf2;
padding-bottom:10px;
}
#stylized label{
display:block;
font-weight:bold;
text-align:right;
width:140px;
float:left;
}
#stylized .small{
color:#666666;
display:block;
font-size:11px;
font-weight:normal;
text-align:right;
width:140px;
}
#stylized input{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:200px;
margin:2px 0 20px 10px;
}
#stylized button{
clear:both;
margin-left:150px;
width:125px;
height:31px;
/*background:#666666 url(img/button.png) no-repeat;*/
text-align:center;
line-height:31px;
color:#FFFFFF;
font-size:11px;
font-weight:bold;
}
</style>

<label><a href="/mooc/courses">Add New Course</a></label>
<div id="stylized" class="myform">
<form id="enrollform" method="POST">{% csrf_token %}
</form>
<h1>Courses</h1>
<table>
<tr>
<td>Course Name</td>
<td>Course Desc</td>
<td>Enroll Course</td>
</tr>
{% for x in response %}
<tr>
<td><u><a id="{{x.id}}" onclick="var a=this.id; onView(a);" style="color: blue;cursor: hand;">{{x.title}}</a></u></td>
<td>{{x.Description}}</td>
<td><input type="submit" id="{{x.id}}" onclick="var a=this.id; return onEnroll(a)" value="Enroll" name="{{x.id}}" class="Enroll" style="width:80px"/></td>
<td><input type="submit" id="{{x.id}}" onclick="var a=this.id; return onDrop(a)" value="Drop" name="{{x.id}}" class="Drop" style="width:80px" /></td>
</tr>
{% endfor %}
</table>
<!--{% for x in response %}
<h1>Course Names: {{ x.title }}</h1>
<span class="small">Course Description: {{ x.Description }}</span>
{% endfor %} -->


</div>
<label><a href="/">Home</a></label>
{% endblock %}
