{% extends 'index.html' %}
{# old extends 'base.html' #}
 
{% block title %} List Course  {% endblock %}

{% block content %}
<script type="text/javascript">
function enableall()
{
	if(document.getElementById('coursetitle').disabled){
		document.getElementById('coursetitle').disabled = false;
		document.getElementById('catid').disabled = false;
		document.getElementById('coursedept').disabled = false;
		document.getElementById('coursesec').disabled = false;
		document.getElementById('courseterm').disabled = false;
		document.getElementById('year').disabled = false;
		document.getElementById('coursedesc').disabled = false;
		document.getElementById('coursepath').disabled = false;
		document.getElementById('coursever').disabled = false;
	}else{
		document.getElementById('viewform').submit();
	}
	return false;
}
</script>
<style type="text/css">
body{
font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
}
p, h1, form, button{border:0; margin:0; padding:0;}
.spacer{clear:both; height:1px;}
/* ----------- My Form ----------- */
.myform{
margin:0 auto;
width:400px;
padding:14px;
}
/* ----------- stylized ----------- */
#stylized{
border:solid 2px #b7ddf2;
background:#ebf4fb;
}
#stylized h1 {
font-size:14px;
font-weight:bold;
margin-bottom:8px;
}
#stylized p{
font-size:11px;
color:#666666;
margin-bottom:20px;
border-bottom:solid 1px #b7ddf2;
padding-bottom:10px;
}
#stylized label{
display:block;
font-weight:bold;
text-align:right;
width:140px;
float:left;
}
#stylized .small{
color:#666666;
display:block;
font-size:11px;
font-weight:normal;
text-align:right;
width:140px;
}
#stylized input{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:200px;
margin:2px 0 20px 10px;
}
#stylized button{
clear:both;
margin-left:150px;
width:125px;
height:31px;
/*background:#666666 url(img/button.png) no-repeat;*/
text-align:center;
line-height:31px;
color:#FFFFFF;
font-size:11px;
font-weight:bold;
}
</style>

<div id="stylized" class="myform">
<form id="viewform" method="POST" action="/mooc/courses/updatecourse">{% csrf_token %}

<label>Category ID:
<span class="small">Eg. Intro to Mechanics</span>
</label>
<input type="text" name="catid" id="catid" value="{{response.category}}" disabled />

<label>Title:
<span class="small">Eg. Intro to Mechanics</span>
</label>
<input type="text" name="coursetitle" id="coursetitle" value="{{response.title}}" disabled />

<label>Section:
<span class="small">Eg: Sec01</span>
</label>
<input type="text" name="coursesec" id="coursesec" value="{{response.section}}" disabled />

<label>Department:
<span class="small">Eg: COE</span>
</label>
<input type="text" name="coursedept" id="coursedept" value="{{response.dept}}" disabled />

<label>Term:
<span class="small">Eg: Spring</span>
</label>
<input type="text" name="courseterm" id="courseterm" value="{{response.term}}" disabled />

<label>Year:
<span class="small">Eg: 2013</span>
</label>
<input type="text" name="year" id="year" value="{{response.year}}" disabled />

<label>Description:
<span class="small">Eg: Course Matter</span>
</label>
<input type="text" name="coursedesc" id="coursedesc" value="{{response.Description}}" disabled/>

<label>Attachment:
<span class="small">Eg: /home/coursefolder</span>
</label>
<input type="text" name="coursepath" id="coursepath" value="{{response.attachment}}" disabled/>

<label>Version:
<span class="small">Eg: 1.0.1</span>
</label>
<input type="text" name="coursever" id="coursever" value="{{response.version}}" disabled />

<input type="hidden" name="courseid" value="{{response.id}}"></input>
<input type="button" value="Update" onclick="enableall(); return false;"></input>
<div class="spacer"></div>


</form>

</div>
{% endblock %}
