{% extends "base.html" %}
{% block content %}
<form action="" method="post">
{% csrf_token %}

<div class="register_div">
        {% if form.teamname.errors %}<p class="error">{{ form.teamname.errors }}</p>{% endif %}
        <p><label for="teamname"{% if form.teamname.errors %} class="error"{% endif %}>Team Name:</label></p>
        <p>{{ form.teamname }}</p>
</div>
<div class="register_div">
        {% if form.ipaddress.errors %}<p class="error">{{ form.ipaddress.errors }}</p>{% endif %}
        <p><label for="ipaddress"{% if form.ipaddress.errors %} class="error"{% endif %}>IP Address:</label></p>
        <p>{{ form.ipaddress }}</p>
</div>
<p><input type="submit" alt="Register Team" /></p>
</form>
{% endblock %}
