{% extends 'index.html' %}
{# old extends 'base.html' #}
 
{% block title %} Blog Archive {% endblock %}

{% block content %}


	<h1> Hi {{user}}, Welcome to coursezilla! </h1>
	<h3> We have added some new courses! </h3>
  
    {% for post in posts %}
    <div class="post">
        <h2>
            <a href="{{post.get_absolute_url}}">
                {{post.title}}
            </a>
        </h2>
        <p>{{post.description}}</p>
        <p>
            Posted on
            <time datetime="{{post.created|date:"c"}}">
            {{post.created|date}}
            </time>
        </p>
    </div>
    {% endfor %}
<div id="pageContainer">
        <div id="nav_top_right">
                {% if user.is_authenticated %}<p><a href="/logout/">Logout</a></p>{% else %}<p><a href="/login/">Login</a></p>{% endif %}
        </div>
{% endblock %}


